tr.header
{
  position: fixed;
}

body {
  background-image: url("https://murmuring-bastion-34884.herokuapp.com/wallpaper.jpg");
  background-size: 100%;
}
a {
    color: #808a88; 
    padding: 2px; 
   }
a:hover {
    text-decoration: none; 
    color: #c4c0ff;
   }

tr {
    color: #eff0e4; 
}
footer {
    color: #171717; 
}
footer:hover {
    text-decoration: none; 
    color: #c4c0ff;
   }
th {
  color: black;
}

th.odd {
  background-color: #646968;
  opacity: 0.8
}
span.icon 
{
    font-size: 2em; 
    display: block; 
   }

