body {
  background-image: url("wallpaper.jpg");
  background-size: 100%;
}
a {
    color: #808a88; 
    padding: 2px; 
   }
a:hover {
    text-decoration: none; 
    color: #c4c0ff;
   }

tr {
    color: #eff0e4; 
}
font {
    color: #171717; 
}
font:hover {
    text-decoration: none; 
    color: #c4c0ff;
   }
