tr.header
{
  position: fixed;
}

body {
  background-image: url("wallpaper.jpg");
  background-size: 100%;
}
a {
    color: #0d0d0d; 
    padding: 2px; 
    text-decoration: none
   }
a:hover {
    text-decoration: none; 
    color: #400808;
   }

tr {
    color: #eff0e4; 
}
footer {
    color: #171717; 
}
footer:hover {
    text-decoration: none; 
    color: #400808;
   }
th {
  color: black;
}

th.odd {
  background-color: #646968;
  opacity: 0.8
}
span.icon 
{
    font-size: 2em; 
    display: block; 
   }

